.mermaid svg {
    max-width: 200%;
    max-height: 200%;
    height: auto;
}

div.mermaid {
    margin-left: 0 !important;
    text-align: center;
    resize: both;
    overflow: auto;
    margin-bottom: 2px;
    position: relative;
    max-height: 600px;
    max-width: 100%;
}

div.mermaid::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(50, 99, 205);
    position: absolute;
    right: 0;
    bottom: 0;
}